.start__input {
    width: 350px;
    height: 30px;
    margin-bottom: 15px;
}

.start__body {
    background: rgb(26, 24, 24);
}

.start__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.start__title {
    font-size: 30px;
    color: white;
    margin-bottom: 15px;
}

.start__button {
    cursor: pointer;
    width: 100px;
    height: 25px;
    background-color: white;
}

.start__button:hover {
    border: 2px solid rgb(26, 24, 24);
}