@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    font-family: 'Silkscreen', cursive;
}

.start__body {
    background: rgb(26, 24, 24);
}

.start__container {
    height: 100%;
}

.start__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.start__input {
    width: 350px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 50%;
    text-align: center;
    color: rgb(26, 24, 24);
    font-size: 20px;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.start__input:hover {
    box-shadow: 0px 0px 1px 4px white;
}

.start__input:focus {
    box-shadow: 0px 0px 7px 4px white;
}

.start__input_error {
    box-shadow: 0px 0px 1px 5px rgb(193, 14, 14);
}

.start__title {
    font-size: 30px;
    color: white;
    margin-bottom: 25px;
}

.start__title_error {
    color: rgb(193, 14, 14);
}

.start__button {
    cursor: pointer;
    width: 170px;
    height: 50px;
    background-color: white;
    margin-top: 10px;
    border-radius: 40%;
    font-size: 20px;
    transition: box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.start__button:hover {
    box-shadow: 0px 0px 1px 4px white;
}

.start__input:focus {
    box-shadow: 0px 0px 7px 4px white;
}

.start__error {
    color: rgb(193, 14, 14);
    font-size: 25px;
    margin-bottom: 10px;
}

.start__main-header {
    color: white;
    text-align: center;
    font-size: 60px;
    margin-bottom: 30px;
}